.App {
  text-align: center;
}

.grid-container {
  height: 100vh;
  display: grid;
  gap: 0.5rem;
  grid-template-areas: 
    "left nav nav nav nav nav"
    "left body body body body right"
    "left body body body body right"
    "left body body body body right"
    "left body body body body right"
    "left foot foot foot foot foot"
  ;
  grid-template-columns: auto 240px auto auto auto 360px;
  grid-template-rows: auto 100px auto auto auto 100px;
}

.leftbar {
  grid-area: left;
  background-color: lightgreen;
  /* gap: 1rem; */
}

.navbar {
  grid-area: nav;
  background-color: lightpink;
  /* gap: 1rem; */
}

.body {
  grid-area: body;
  background-color: lightyellow;
  /* gap: 1rem; */
}

.rightbar {
  grid-area: right;
  background-color: lightgray;
  /* gap: 1rem; */
}

.footer {
  grid-area: foot;
  background-color: lightsalmon;
  /* gap: 1rem; */
}


